.modal-container {
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-view {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.content {
    height: 100%
}

.toggle-button {
    border-radius: 10px;
    padding: 8px 25px 8px 25px;
    color: white;
    transition: color .2s ease-out, background-color .2s ease-out;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.toggle-button:hover {
    color: black;
    background-color: white;
    transition: color .2s ease-in, background-color .2s ease-in;
}

.info-view {
    width: 100%;
    height: 100%
}

.info-view h2 {
    text-align: center;
}

.content {
    overflow: scroll;
    width: 100%;
}

.user-content-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.user-content-header div {
    width: 33%;
    display: flex;
}

.user-content {
    display: flex;
    justify-content: space-between; 
    list-style-type: none;
    border-bottom: 0.7px solid rgb(241, 241, 241);
    margin-top: 15px;
    padding-bottom: 5px;
}

.user-content li {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.user-content li span {
    width: 33%;
    padding-left: 20px;
    padding-bottom: 2px;
    border-bottom: 1px solid grey;
}

.toggle-button {
    margin: 20px;
}

ul {
    margin: 0;
    padding: 0
}