.header-container {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.headers-button {
    border-radius: 25px;
    margin: 10px;
    color: white;
    font-size: 1rem;
    transition: color .2s ease-out;
    cursor: pointer
}

.headers-button:hover {
    color: red;
    transition: color .2s ease-in
}